// vue.config.js Globally import scss variable in vue component

$primary: #074e92;
$secondary: #1b5e20;
$accent: #2196f3;
$accentDarken1: #1976d2;
$accentLighten1: #bbdefb;
$light: #e8eaf6;
$error: #ff3d00;
$success: #7cb342;
$warning: #ff8f00;
$disabled: #bdbdbd;
